.navbar {
    display: flex;
    position: sticky;
    justify-content: space-around;
    align-items: center;
    top: 0;
   background-color: black;
    z-index: 5;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    display: inline;
    padding: 10px;
    margin: 0 10px;
    font-size: 25px;
    color: red;
    transition: 0.2s ease;
  }
  
  li:hover {
    background-color: rgb(112, 0, 0);
  }
  
  a {
    text-decoration: none;
  }
  
   #logo {
    color: rgba(196, 9, 9, 0.8);
  }
  
 